In [156]:
import pandas as pd
import time

from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [ ]:
file = 'cluster_color.csv'
df = pd.read_csv(file)

# 본인이 맡은 인덱스 번호 지정
- ex) `df = df[3000:6000]`

In [197]:
df = df[1000:2000]

In [198]:
df['color'] = None
df

C:\Users\yhn03\AppData\Local\Temp\ipykernel_6896\4175001898.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['color'] = None

      cluster_R  cluster_G  cluster_B color
1000        223        226        227  None
1001        148        147        148  None
1002          0        124        194  None
1003         44         44         42  None
1004        231        232        236  None
...         ...        ...        ...   ...
1995        227        226        228  None
1996        218        218        220  None
1997         39         39         42  None
1998        112        111        120  None
1999        181        182        180  None

[1000 rows x 4 columns]

In [159]:
def get_chrome_driver():
    chrome_options = webdriver.ChromeOptions()
    # chrome_options.headless = True

    driver = webdriver.Chrome(
        service=Service(ChromeDriverManager().install()),
        options=chrome_options
    )
    
    return driver

In [160]:
driver = get_chrome_driver()
driver.implicitly_wait(10)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 103.0.5060
[WDM] - Get LATEST chromedriver version for 103.0.5060 google-chrome
[WDM] - Driver [C:\Users\yhn03\.wdm\drivers\chromedriver\win32\103.0.5060.53\chromedriver.exe] found in cache

In [199]:
driver.get('https://www.rapidtables.org/ko/web/color/RGB_Color.html')

In [200]:
df_iterator = df.iterrows()

# 아래 두 셀 반복 실행
- 아래 셀 color에 색깔 이름 적어서 실행

In [201]:
idx, rgb = next(df_iterator)

driver.find_element(By.XPATH, '//*[@id="yui-picker-r"]').clear()
time.sleep(0.5)
driver.find_element(By.XPATH, '//*[@id="yui-picker-r"]').clear()
driver.find_element(By.XPATH, '//*[@id="yui-picker-r"]').send_keys(str(rgb['cluster_R']))

driver.find_element(By.XPATH, '//*[@id="yui-picker-g"]').clear()
time.sleep(0.5)
driver.find_element(By.XPATH, '//*[@id="yui-picker-g"]').clear()
driver.find_element(By.XPATH, '//*[@id="yui-picker-g"]').send_keys(str(rgb['cluster_G']))

driver.find_element(By.XPATH, '//*[@id="yui-picker-b"]').clear()
time.sleep(0.5)
driver.find_element(By.XPATH, '//*[@id="yui-picker-b"]').clear()
driver.find_element(By.XPATH, '//*[@id="yui-picker-b"]').send_keys(str(rgb['cluster_B']))

time.sleep(0.5)
driver.find_element(By.XPATH, '//*[@id="doc"]/div[1]').click()

In [202]:
color = '여기에 색깔 이름 적어주세요'

df.loc[idx, 'color'] = color

In [203]:
df

      cluster_R  cluster_G  cluster_B color
1000        223        226        227
1001        148        147        148  None
1002          0        124        194  None
1003         44         44         42  None
1004        231        232        236  None
...         ...        ...        ...   ...
1995        227        226        228  None
1996        218        218        220  None
1997         39         39         42  None
1998        112        111        120  None
1999        181        182        180  None

[1000 rows x 4 columns]