In [986]:
import pandas as pd
import time

from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [987]:
file = 'cluster_color.csv'
df = pd.read_csv(file, index_col=0)

In [988]:
df = df[df['color'].isnull()]
df

            cluster_R  cluster_G  cluster_B color
Unnamed: 0
3980               35        145        217   NaN
4102              215        212        204   NaN
5219              218        219        224   NaN
5425              215         84         77   NaN
5914              220        221        226   NaN
...               ...        ...        ...   ...
10820             194        194        195   NaN
10821             168        198        103   NaN
10822             130        146          8   NaN
10823             143        162          4   NaN
10824              35         68        108   NaN

[1795 rows x 4 columns]

# 본인이 맡은 인덱스 번호 지정
- ex) `df = df[3000:6000]`

In [989]:
df = df.iloc[0:150]
df

            cluster_R  cluster_G  cluster_B color
Unnamed: 0
3980               35        145        217   NaN
4102              215        212        204   NaN
5219              218        219        224   NaN
5425              215         84         77   NaN
5914              220        221        226   NaN
...               ...        ...        ...   ...
8337              111        152        186   NaN
8339              211        219        220   NaN
8340               95         95         98   NaN
8344              192        193        193   NaN
8346              170        171        171   NaN

[150 rows x 4 columns]

In [990]:
def get_chrome_driver():
    chrome_options = webdriver.ChromeOptions()
    # chrome_options.headless = True

    driver = webdriver.Chrome(
        service=Service(ChromeDriverManager().install()),
        options=chrome_options
    )
    
    return driver

In [991]:
driver = get_chrome_driver()
driver.implicitly_wait(10)

In [992]:
driver.get('https://www.rapidtables.org/ko/web/color/RGB_Color.html')

In [993]:
df_iterator = df.iterrows()

# 아래 두 셀 반복 실행
- 아래 셀 color에 색깔 이름 적어서 실행

In [1300]:
idx, rgb = next(df_iterator)

driver.find_element(By.XPATH, '//*[@id="yui-picker-r"]').clear()
time.sleep(0.5)
driver.find_element(By.XPATH, '//*[@id="yui-picker-r"]').clear()
driver.find_element(By.XPATH, '//*[@id="yui-picker-r"]').send_keys(str(rgb['cluster_R']))

driver.find_element(By.XPATH, '//*[@id="yui-picker-g"]').clear()
time.sleep(0.5)
driver.find_element(By.XPATH, '//*[@id="yui-picker-g"]').clear()
driver.find_element(By.XPATH, '//*[@id="yui-picker-g"]').send_keys(str(rgb['cluster_G']))

driver.find_element(By.XPATH, '//*[@id="yui-picker-b"]').clear()
time.sleep(0.5)
driver.find_element(By.XPATH, '//*[@id="yui-picker-b"]').clear()
driver.find_element(By.XPATH, '//*[@id="yui-picker-b"]').send_keys(str(rgb['cluster_B']))

time.sleep(0.5)
driver.find_element(By.XPATH, '//*[@id="doc"]/div[1]').click()

StopIteration:

In [1299]:
color = '회색'

df.loc[idx, 'color'] = color

In [1301]:
df.to_csv("nan-0-150.csv")