In [1]:
import pymongo
import pandas as pd
import numpy as np

In [8]:
user = 'team04'
pw = '1111'
host = 'ec2-54-95-8-243.ap-northeast-1.compute.amazonaws.com'
client = pymongo.MongoClient(f'mongodb://{user}:{pw}@{host}:27017/')
db = client.resell

In [9]:
dft = pd.DataFrame(db.trade.find())
dft

                             _id    model_no                          trade
0       62cd1e4e0071eb9cb1d36b27  CZ0790-100        270\n208,000원\n22/07/12
1       62cd1e4e0071eb9cb1d36b29  CZ0790-100  270\n270,000원\n빠른배송\n22/07/07
2       62cd1e4f0071eb9cb1d36b2b  CZ0790-100        270\n250,000원\n22/07/07
3       62cd1e4f0071eb9cb1d36b2d  CZ0790-100  270\n269,000원\n빠른배송\n22/07/07
4       62cd1e4f0071eb9cb1d36b2f  CZ0790-100        270\n255,000원\n22/07/05
...                          ...         ...                            ...
143197  62d13d8a7add8dd35c4d18d7  DC0500-100  235(4.5Y)\n219,000원\n20/10/16
143198  62d13d8b7add8dd35c4d18d9  DC0500-100  235(4.5Y)\n218,000원\n20/10/16
143199  62d13d8b7add8dd35c4d18db  DC0500-100  235(4.5Y)\n212,000원\n20/10/16
143200  62d13d8b7add8dd35c4d18dd  DC0500-100  235(4.5Y)\n212,000원\n20/10/16
143201  62d13d8b7add8dd35c4d18df  DC0500-100  235(4.5Y)\n195,000원\n20/10/16

[143202 rows x 3 columns]

In [10]:
dfk = pd.DataFrame(db.kream.find())
dfk.head()

,_id,brand,kr_name,price,like,post,all_trade,link
0,Jordan 1 Retro High OG Black Mocha,Jordan,조던 1 레트로 하이 OG 블랙 모카,"600,000원",2.6만,"5,572",거래 8.8만,https://kream.co.kr/products/25922
1,Jordan 1 Mid Light Smoke Grey Anthracite,Jordan,조던 1 미드 라이트 스모크 그레이 앤트러사이트,"185,000원",5만,921,거래 3.2만,https://kream.co.kr/products/47257
2,Jordan 1 Low Golf Wolf Grey,Jordan,조던 1 로우 골프 울프 그레이,"238,000원",3만,558,거래 1.4만,https://kream.co.kr/products/48705
3,Jordan 4 Retro White and Black,Jordan,조던 4 레트로 화이트 앤 블랙,"299,000원","4,348",128,"거래 3,473",https://kream.co.kr/products/60301
4,Jordan 1 x Travis Scott x Fragment Retro Low O...,Jordan,조던 1 x 트래비스 스캇 x 프라그먼트 레트로 로우 OG SP 밀리터리 블루,"1,540,000원",2.6만,"5,346",거래 3.5만,https://kream.co.kr/products/38367

In [11]:
def change_num(data):
    data = data[3:]
    if data == '':
        data = '0'
    if '.' in data:
        data = data.replace('만', '000')
    else:
        data = data.replace('만', '0000')
    data = data.replace('.', '').replace(',', '')
    data = int(data)
    
    return data

In [12]:
dfk['all_trade'] = dfk['all_trade'].apply(change_num)

In [13]:
dfk

,_id,brand,kr_name,price,like,post,all_trade,link
0,Jordan 1 Retro High OG Black Mocha,Jordan,조던 1 레트로 하이 OG 블랙 모카,"600,000원",2.6만,"5,572",88000,https://kream.co.kr/products/25922
1,Jordan 1 Mid Light Smoke Grey Anthracite,Jordan,조던 1 미드 라이트 스모크 그레이 앤트러사이트,"185,000원",5만,921,32000,https://kream.co.kr/products/47257
2,Jordan 1 Low Golf Wolf Grey,Jordan,조던 1 로우 골프 울프 그레이,"238,000원",3만,558,14000,https://kream.co.kr/products/48705
3,Jordan 4 Retro White and Black,Jordan,조던 4 레트로 화이트 앤 블랙,"299,000원","4,348",128,3473,https://kream.co.kr/products/60301
4,Jordan 1 x Travis Scott x Fragment Retro Low O...,Jordan,조던 1 x 트래비스 스캇 x 프라그먼트 레트로 로우 OG SP 밀리터리 블루,"1,540,000원",2.6만,"5,346",35000,https://kream.co.kr/products/38367
...,...,...,...,...,...,...,...,...
2988,Jordan Future Boot Platinum,Jordan,조던 퓨처 부츠 플래티넘,-,3,0,0,https://kream.co.kr/products/34120
2989,Jordan Jumpman 2020 White Black,Jordan,조던 점프맨 2020 화이트 블랙,-,10,0,0,https://kream.co.kr/products/33640
2990,(GS) Jordan Horizon Hyper Violet,Jordan,(GS) 조던 호라이즌 하이퍼 바이올렛,-,1,0,0,https://kream.co.kr/products/32757
2991,(TD) Jordan 3 Retro Neutral Grey,Jordan,(TD) 조던 3 레트로 뉴트럴 그레이,-,0,0,0,https://kream.co.kr/products/30541
2992,Jordan Alpha 1 Orange Flash,Jordan,조던 알파 1 오렌지 플래시,-,4,1,0,https://kream.co.kr/products/25604

In [14]:
dfd = pd.DataFrame(db.kream_detail.find())
dfd.head()

,_id,brand,prod_kr_name,rescent_price,model_no,release_date,colors,release_price,instant_buy_price,instant_sell_price,img_url
0,Jordan 1 Low Vintage Grey,Jordan,조던 1 로우 빈티지 그레이,"200,000",553558-053,-,GREY/WHITE/CREAM,"129,000원","202,000","201,000",https://kream-phinf.pstatic.net/MjAyMjA2MjdfMT...
1,Jordan 1 x Travis Scott x Fragment Retro Low O...,Jordan,조던 1 x 트래비스 스캇 x 프라그먼트 레트로 로우 OG SP 밀리터리 블루,"1,555,000",DM7866-140,21/08/13,SAIL/BLACK/MILITARY BLUE,"189,000원","1,540,000","2,230,000",https://kream-phinf.pstatic.net/MjAyMTA3MzBfNT...
2,Jordan 1 Retro High OG Black Mocha,Jordan,조던 1 레트로 하이 OG 블랙 모카,"702,000",555088-105,20/11/13,SAIL/DARK MOCHA-BLACK-BLACK,"199,000원","600,000","818,000",https://kream-phinf.pstatic.net/MjAyMDEwMjJfOC...
3,Jordan 4 Retro White and Black,Jordan,조던 4 레트로 화이트 앤 블랙,"312,000",DH6927-111,22/05/23,WHITE/BLACK/NEUTRAL GREY,"249,000원","299,000","313,000",https://kream-phinf.pstatic.net/MjAyMjA1MDlfOD...
4,Jordan 1 Retro High OG Bleached Coral,Jordan,조던 1 레트로 하이 OG 블리치드 코랄,"244,000",555088-108,22/05/14,WHITE/BLACK/GREY FOG/BLEACHED CORAL,"209,000원","207,000","270,000",https://kream-phinf.pstatic.net/MjAyMjA1MDlfMT...

In [15]:
dft1 = dft.groupby('model_no').count()
dft1

            _id  trade
model_no
136027-051    7      7
136027-104   12     12
136027-130    9      9
136027-133    6      6
136027-405    3      3
...         ...    ...
DQ6076-001   42     42
DQ7648-600   69     69
DR8038-100    7      7
DV2229-300   54     54
DV2959-113   11     11

[783 rows x 2 columns]

In [16]:
dft2 = dft1.reset_index()
dft2

       model_no  _id  trade
0    136027-051    7      7
1    136027-104   12     12
2    136027-130    9      9
3    136027-133    6      6
4    136027-405    3      3
..          ...  ...    ...
778  DQ6076-001   42     42
779  DQ7648-600   69     69
780  DR8038-100    7      7
781  DV2229-300   54     54
782  DV2959-113   11     11

[783 rows x 3 columns]

In [17]:
dft3 = dft2[['model_no','trade']]

In [18]:
dfd1 = dfd[['_id','model_no']]
dfd1

                                                    _id      model_no
0                             Jordan 1 Low Vintage Grey   553558-053
1     Jordan 1 x Travis Scott x Fragment Retro Low O...   DM7866-140
2                    Jordan 1 Retro High OG Black Mocha   555088-105
3                        Jordan 4 Retro White and Black   DH6927-111
4                 Jordan 1 Retro High OG Bleached Coral   555088-108
...                                                 ...           ...
2988       Jordan 1 Retro High OG SP Gina (Special Box)   CD7071-001
2989                        Jordan 13 Retro Low Quai 54   810551-050
2990                (GS) Jordan 11 Retro Heiress Velvet   852625-650
2991    Jordan 1 Retro High Flyknit Derek Jeter RE2PECT   AH7233-105
2992                      (GS) Jordan 1 Retro High Melo   705300-026

[2993 rows x 2 columns]

In [19]:
dfk1 = dfk[['_id','all_trade','link']]
dfk1

,_id,all_trade,link
0,Jordan 1 Retro High OG Black Mocha,88000,https://kream.co.kr/products/25922
1,Jordan 1 Mid Light Smoke Grey Anthracite,32000,https://kream.co.kr/products/47257
2,Jordan 1 Low Golf Wolf Grey,14000,https://kream.co.kr/products/48705
3,Jordan 4 Retro White and Black,3473,https://kream.co.kr/products/60301
4,Jordan 1 x Travis Scott x Fragment Retro Low O...,35000,https://kream.co.kr/products/38367
...,...,...,...
2988,Jordan Future Boot Platinum,0,https://kream.co.kr/products/34120
2989,Jordan Jumpman 2020 White Black,0,https://kream.co.kr/products/33640
2990,(GS) Jordan Horizon Hyper Violet,0,https://kream.co.kr/products/32757
2991,(TD) Jordan 3 Retro Neutral Grey,0,https://kream.co.kr/products/30541
2992,Jordan Alpha 1 Orange Flash,0,https://kream.co.kr/products/25604

In [20]:
test = pd.merge(left = dfd1 , right = dfk1, how = "outer", on = "_id")
test

,_id,model_no,all_trade,link
0,Jordan 1 Low Vintage Grey,553558-053,137,https://kream.co.kr/products/66930
1,Jordan 1 x Travis Scott x Fragment Retro Low O...,DM7866-140,35000,https://kream.co.kr/products/38367
2,Jordan 1 Retro High OG Black Mocha,555088-105,88000,https://kream.co.kr/products/25922
3,Jordan 4 Retro White and Black,DH6927-111,3473,https://kream.co.kr/products/60301
4,Jordan 1 Retro High OG Bleached Coral,555088-108,8462,https://kream.co.kr/products/60302
...,...,...,...,...
2988,Jordan 1 Retro High OG SP Gina (Special Box),CD7071-001,0,https://kream.co.kr/products/30345
2989,Jordan 13 Retro Low Quai 54,810551-050,0,https://kream.co.kr/products/5445
2990,(GS) Jordan 11 Retro Heiress Velvet,852625-650,20,https://kream.co.kr/products/8307
2991,Jordan 1 Retro High Flyknit Derek Jeter RE2PECT,AH7233-105,3,https://kream.co.kr/products/14074
2992,(GS) Jordan 1 Retro High Melo,705300-026,23,https://kream.co.kr/products/25661

In [21]:
test['model_no'] = test['model_no'].str.strip()

In [22]:
dft3.sort_values(by='trade', ascending=False)

       model_no  trade
644  DC0774-105   5976
582  CZ0790-801   4557
238  555088-035   4503
407  BQ6472-015   4118
413  BQ6472-105   3774
..          ...    ...
387  AR4491-700      1
88   402297-110      1
355  897521-100      1
53   338151-991      1
426  BQ6623-800      1

[783 rows x 2 columns]

In [23]:
dft3['model_no'] = dft3['model_no'].str.strip()

C:\Users\Jinho\AppData\Local\Temp\ipykernel_4504\2291039431.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dft3['model_no'] = dft3['model_no'].str.strip()

In [24]:
test2 = pd.merge(left = test , right = dft3, how = "left", on = "model_no")
test2

,_id,model_no,all_trade,link,trade
0,Jordan 1 Low Vintage Grey,553558-053,137,https://kream.co.kr/products/66930,50.0
1,Jordan 1 x Travis Scott x Fragment Retro Low O...,DM7866-140,35000,https://kream.co.kr/products/38367,NaN
2,Jordan 1 Retro High OG Black Mocha,555088-105,88000,https://kream.co.kr/products/25922,NaN
3,Jordan 4 Retro White and Black,DH6927-111,3473,https://kream.co.kr/products/60301,NaN
4,Jordan 1 Retro High OG Bleached Coral,555088-108,8462,https://kream.co.kr/products/60302,NaN
...,...,...,...,...,...
2988,Jordan 1 Retro High OG SP Gina (Special Box),CD7071-001,0,https://kream.co.kr/products/30345,NaN
2989,Jordan 13 Retro Low Quai 54,810551-050,0,https://kream.co.kr/products/5445,NaN
2990,(GS) Jordan 11 Retro Heiress Velvet,852625-650,20,https://kream.co.kr/products/8307,NaN
2991,Jordan 1 Retro High Flyknit Derek Jeter RE2PECT,AH7233-105,3,https://kream.co.kr/products/14074,NaN
2992,(GS) Jordan 1 Retro High Melo,705300-026,23,https://kream.co.kr/products/25661,NaN

In [25]:
test3 = test2.sort_values(by='all_trade', ascending=False)
test3

,_id,model_no,all_trade,link,trade
2,Jordan 1 Retro High OG Black Mocha,555088-105,88000,https://kream.co.kr/products/25922,NaN
1,Jordan 1 x Travis Scott x Fragment Retro Low O...,DM7866-140,35000,https://kream.co.kr/products/38367,NaN
6,Jordan 1 Mid Light Smoke Grey Anthracite,554724-078,32000,https://kream.co.kr/products/47257,NaN
8,Jordan 1 Retro High OG University Blue,555088-134,32000,https://kream.co.kr/products/27986,11.0
12,(W) Jordan 1 Low White Wolf Grey,DC0774-105,28000,https://kream.co.kr/products/36237,5976.0
...,...,...,...,...,...
2503,(PS) Jordan 7 Retro Verde,442961-138,0,https://kream.co.kr/products/26182,NaN
1935,(TD) Jordan 11 Retro Low 72-10,505836-001,0,https://kream.co.kr/products/60766,NaN
1685,(W) Jordan 11 Retro Heiress Black Stingray,852625-030,0,https://kream.co.kr/products/12185,NaN
1201,(GS) Jordan 3 Retro Kumquat,441140-088,0,https://kream.co.kr/products/52538,NaN
1973,Jordan 1 Flyease Black Gym Red,CQ3835-006,0,https://kream.co.kr/products/46263,NaN

In [26]:
test4 = test3.iloc[:1000]
test4

,_id,model_no,all_trade,link,trade
2,Jordan 1 Retro High OG Black Mocha,555088-105,88000,https://kream.co.kr/products/25922,NaN
1,Jordan 1 x Travis Scott x Fragment Retro Low O...,DM7866-140,35000,https://kream.co.kr/products/38367,NaN
6,Jordan 1 Mid Light Smoke Grey Anthracite,554724-078,32000,https://kream.co.kr/products/47257,NaN
8,Jordan 1 Retro High OG University Blue,555088-134,32000,https://kream.co.kr/products/27986,11.0
12,(W) Jordan 1 Low White Wolf Grey,DC0774-105,28000,https://kream.co.kr/products/36237,5976.0
...,...,...,...,...,...
1318,Jordan 10 Retro I'm Back,310805-104,23,https://kream.co.kr/products/14374,5.0
2225,Jordan 1 Mid White Chicago,554724-116,23,https://kream.co.kr/products/24581,2.0
1054,Jordan 3 Retro Infrared 23,136064-123,23,https://kream.co.kr/products/4032,NaN
1056,Jordan 4 Retro Green Glow,308497-033,23,https://kream.co.kr/products/3504,1.0
1330,Jordan XXXII MJ Day,AA1253-001,23,https://kream.co.kr/products/11733,2.0

In [27]:
test5 = test4[test4['trade'].isnull()]
test5

,_id,model_no,all_trade,link,trade
2,Jordan 1 Retro High OG Black Mocha,555088-105,88000,https://kream.co.kr/products/25922,NaN
1,Jordan 1 x Travis Scott x Fragment Retro Low O...,DM7866-140,35000,https://kream.co.kr/products/38367,NaN
6,Jordan 1 Mid Light Smoke Grey Anthracite,554724-078,32000,https://kream.co.kr/products/47257,NaN
27,Jordan 1 Retro High OG Patent Bred,555088-063,25000,https://kream.co.kr/products/45326,NaN
2973,Jordan 1 Mid Gym Red Black White,554724-122,20000,https://kream.co.kr/products/32777,NaN
...,...,...,...,...,...
876,(TD) Jordan 1 Mid SE Pine Green Light Smoke Grey,DC7250-103,25,https://kream.co.kr/products/47003,NaN
1572,(PS) Jordan 5 x Off-White Retro SP Black Muslin,CV4827-001,25,https://kream.co.kr/products/23517,NaN
1277,(CB) Jordan 1 Crib Bootie White Varsity Red,AT3745-163,25,https://kream.co.kr/products/25309,NaN
2082,(TD) Jordan 1 Retro High Satin Red,CU0450-601,23,https://kream.co.kr/products/26001,NaN
1054,Jordan 3 Retro Infrared 23,136064-123,23,https://kream.co.kr/products/4032,NaN

In [28]:
test6 = test5[~test5['_id'].str.contains('(TD)')]
test6

C:\Users\Jinho\AppData\Local\Temp\ipykernel_4504\2957500809.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  test6 = test5[~test5['_id'].str.contains('(TD)')]

,_id,model_no,all_trade,link,trade
2,Jordan 1 Retro High OG Black Mocha,555088-105,88000,https://kream.co.kr/products/25922,NaN
1,Jordan 1 x Travis Scott x Fragment Retro Low O...,DM7866-140,35000,https://kream.co.kr/products/38367,NaN
6,Jordan 1 Mid Light Smoke Grey Anthracite,554724-078,32000,https://kream.co.kr/products/47257,NaN
27,Jordan 1 Retro High OG Patent Bred,555088-063,25000,https://kream.co.kr/products/45326,NaN
2973,Jordan 1 Mid Gym Red Black White,554724-122,20000,https://kream.co.kr/products/32777,NaN
...,...,...,...,...,...
880,(W) Jordan 14 x Aleali May Retro Low SP Fortune,DJ1034-200,27,https://kream.co.kr/products/39374,NaN
1237,Jordan 1 Centre Court White University Gold,DJ2756-102,27,https://kream.co.kr/products/29233,NaN
1572,(PS) Jordan 5 x Off-White Retro SP Black Muslin,CV4827-001,25,https://kream.co.kr/products/23517,NaN
1277,(CB) Jordan 1 Crib Bootie White Varsity Red,AT3745-163,25,https://kream.co.kr/products/25309,NaN
1054,Jordan 3 Retro Infrared 23,136064-123,23,https://kream.co.kr/products/4032,NaN

In [29]:
test7 = test6[~test6['_id'].str.contains('(PS)')]
test7

C:\Users\Jinho\AppData\Local\Temp\ipykernel_4504\1601896832.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  test7 = test6[~test6['_id'].str.contains('(PS)')]

,_id,model_no,all_trade,link,trade
2,Jordan 1 Retro High OG Black Mocha,555088-105,88000,https://kream.co.kr/products/25922,NaN
1,Jordan 1 x Travis Scott x Fragment Retro Low O...,DM7866-140,35000,https://kream.co.kr/products/38367,NaN
6,Jordan 1 Mid Light Smoke Grey Anthracite,554724-078,32000,https://kream.co.kr/products/47257,NaN
27,Jordan 1 Retro High OG Patent Bred,555088-063,25000,https://kream.co.kr/products/45326,NaN
2973,Jordan 1 Mid Gym Red Black White,554724-122,20000,https://kream.co.kr/products/32777,NaN
...,...,...,...,...,...
842,Jordan 1 Retro High Clay Green,555088-135,28,https://kream.co.kr/products/14912,NaN
880,(W) Jordan 14 x Aleali May Retro Low SP Fortune,DJ1034-200,27,https://kream.co.kr/products/39374,NaN
1237,Jordan 1 Centre Court White University Gold,DJ2756-102,27,https://kream.co.kr/products/29233,NaN
1277,(CB) Jordan 1 Crib Bootie White Varsity Red,AT3745-163,25,https://kream.co.kr/products/25309,NaN
1054,Jordan 3 Retro Infrared 23,136064-123,23,https://kream.co.kr/products/4032,NaN

In [30]:
test8 = test7[~test7['_id'].str.contains('(CB)')]
test8

C:\Users\Jinho\AppData\Local\Temp\ipykernel_4504\1211653.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  test8 = test7[~test7['_id'].str.contains('(CB)')]

,_id,model_no,all_trade,link,trade
2,Jordan 1 Retro High OG Black Mocha,555088-105,88000,https://kream.co.kr/products/25922,NaN
1,Jordan 1 x Travis Scott x Fragment Retro Low O...,DM7866-140,35000,https://kream.co.kr/products/38367,NaN
6,Jordan 1 Mid Light Smoke Grey Anthracite,554724-078,32000,https://kream.co.kr/products/47257,NaN
27,Jordan 1 Retro High OG Patent Bred,555088-063,25000,https://kream.co.kr/products/45326,NaN
2973,Jordan 1 Mid Gym Red Black White,554724-122,20000,https://kream.co.kr/products/32777,NaN
...,...,...,...,...,...
793,Jordan 10 Retro Double Nickel,310805-102,54,https://kream.co.kr/products/5209,NaN
842,Jordan 1 Retro High Clay Green,555088-135,28,https://kream.co.kr/products/14912,NaN
880,(W) Jordan 14 x Aleali May Retro Low SP Fortune,DJ1034-200,27,https://kream.co.kr/products/39374,NaN
1237,Jordan 1 Centre Court White University Gold,DJ2756-102,27,https://kream.co.kr/products/29233,NaN
1054,Jordan 3 Retro Infrared 23,136064-123,23,https://kream.co.kr/products/4032,NaN

In [31]:
test9 = test8.reset_index()
test9

,index,_id,model_no,all_trade,link,trade
0,2,Jordan 1 Retro High OG Black Mocha,555088-105,88000,https://kream.co.kr/products/25922,NaN
1,1,Jordan 1 x Travis Scott x Fragment Retro Low O...,DM7866-140,35000,https://kream.co.kr/products/38367,NaN
2,6,Jordan 1 Mid Light Smoke Grey Anthracite,554724-078,32000,https://kream.co.kr/products/47257,NaN
3,27,Jordan 1 Retro High OG Patent Bred,555088-063,25000,https://kream.co.kr/products/45326,NaN
4,2973,Jordan 1 Mid Gym Red Black White,554724-122,20000,https://kream.co.kr/products/32777,NaN
...,...,...,...,...,...,...
136,793,Jordan 10 Retro Double Nickel,310805-102,54,https://kream.co.kr/products/5209,NaN
137,842,Jordan 1 Retro High Clay Green,555088-135,28,https://kream.co.kr/products/14912,NaN
138,880,(W) Jordan 14 x Aleali May Retro Low SP Fortune,DJ1034-200,27,https://kream.co.kr/products/39374,NaN
139,1237,Jordan 1 Centre Court White University Gold,DJ2756-102,27,https://kream.co.kr/products/29233,NaN
140,1054,Jordan 3 Retro Infrared 23,136064-123,23,https://kream.co.kr/products/4032,NaN

In [32]:
#test5[test5['model_no'] == 'AJ5986-335']

In [33]:
test9.to_csv("trade_null_info.csv", index=False)

In [34]:
qwer = test4.copy()
qwer

,_id,model_no,all_trade,link,trade
2,Jordan 1 Retro High OG Black Mocha,555088-105,88000,https://kream.co.kr/products/25922,NaN
1,Jordan 1 x Travis Scott x Fragment Retro Low O...,DM7866-140,35000,https://kream.co.kr/products/38367,NaN
6,Jordan 1 Mid Light Smoke Grey Anthracite,554724-078,32000,https://kream.co.kr/products/47257,NaN
8,Jordan 1 Retro High OG University Blue,555088-134,32000,https://kream.co.kr/products/27986,11.0
12,(W) Jordan 1 Low White Wolf Grey,DC0774-105,28000,https://kream.co.kr/products/36237,5976.0
...,...,...,...,...,...
1318,Jordan 10 Retro I'm Back,310805-104,23,https://kream.co.kr/products/14374,5.0
2225,Jordan 1 Mid White Chicago,554724-116,23,https://kream.co.kr/products/24581,2.0
1054,Jordan 3 Retro Infrared 23,136064-123,23,https://kream.co.kr/products/4032,NaN
1056,Jordan 4 Retro Green Glow,308497-033,23,https://kream.co.kr/products/3504,1.0
1330,Jordan XXXII MJ Day,AA1253-001,23,https://kream.co.kr/products/11733,2.0

In [35]:
qwer1 = qwer[~qwer['_id'].str.contains('(TD)')]
qwer1

C:\Users\Jinho\AppData\Local\Temp\ipykernel_4504\3413479554.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  qwer1 = qwer[~qwer['_id'].str.contains('(TD)')]

,_id,model_no,all_trade,link,trade
2,Jordan 1 Retro High OG Black Mocha,555088-105,88000,https://kream.co.kr/products/25922,NaN
1,Jordan 1 x Travis Scott x Fragment Retro Low O...,DM7866-140,35000,https://kream.co.kr/products/38367,NaN
6,Jordan 1 Mid Light Smoke Grey Anthracite,554724-078,32000,https://kream.co.kr/products/47257,NaN
8,Jordan 1 Retro High OG University Blue,555088-134,32000,https://kream.co.kr/products/27986,11.0
12,(W) Jordan 1 Low White Wolf Grey,DC0774-105,28000,https://kream.co.kr/products/36237,5976.0
...,...,...,...,...,...
1318,Jordan 10 Retro I'm Back,310805-104,23,https://kream.co.kr/products/14374,5.0
2225,Jordan 1 Mid White Chicago,554724-116,23,https://kream.co.kr/products/24581,2.0
1054,Jordan 3 Retro Infrared 23,136064-123,23,https://kream.co.kr/products/4032,NaN
1056,Jordan 4 Retro Green Glow,308497-033,23,https://kream.co.kr/products/3504,1.0
1330,Jordan XXXII MJ Day,AA1253-001,23,https://kream.co.kr/products/11733,2.0

In [36]:
qwer2 = qwer1[~qwer1['_id'].str.contains('(PS)')]
qwer2

C:\Users\Jinho\AppData\Local\Temp\ipykernel_4504\2676845381.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  qwer2 = qwer1[~qwer1['_id'].str.contains('(PS)')]

,_id,model_no,all_trade,link,trade
2,Jordan 1 Retro High OG Black Mocha,555088-105,88000,https://kream.co.kr/products/25922,NaN
1,Jordan 1 x Travis Scott x Fragment Retro Low O...,DM7866-140,35000,https://kream.co.kr/products/38367,NaN
6,Jordan 1 Mid Light Smoke Grey Anthracite,554724-078,32000,https://kream.co.kr/products/47257,NaN
8,Jordan 1 Retro High OG University Blue,555088-134,32000,https://kream.co.kr/products/27986,11.0
12,(W) Jordan 1 Low White Wolf Grey,DC0774-105,28000,https://kream.co.kr/products/36237,5976.0
...,...,...,...,...,...
1318,Jordan 10 Retro I'm Back,310805-104,23,https://kream.co.kr/products/14374,5.0
2225,Jordan 1 Mid White Chicago,554724-116,23,https://kream.co.kr/products/24581,2.0
1054,Jordan 3 Retro Infrared 23,136064-123,23,https://kream.co.kr/products/4032,NaN
1056,Jordan 4 Retro Green Glow,308497-033,23,https://kream.co.kr/products/3504,1.0
1330,Jordan XXXII MJ Day,AA1253-001,23,https://kream.co.kr/products/11733,2.0

In [37]:
qwer3 = qwer2.reset_index()
qwer3

,index,_id,model_no,all_trade,link,trade
0,2,Jordan 1 Retro High OG Black Mocha,555088-105,88000,https://kream.co.kr/products/25922,NaN
1,1,Jordan 1 x Travis Scott x Fragment Retro Low O...,DM7866-140,35000,https://kream.co.kr/products/38367,NaN
2,6,Jordan 1 Mid Light Smoke Grey Anthracite,554724-078,32000,https://kream.co.kr/products/47257,NaN
3,8,Jordan 1 Retro High OG University Blue,555088-134,32000,https://kream.co.kr/products/27986,11.0
4,12,(W) Jordan 1 Low White Wolf Grey,DC0774-105,28000,https://kream.co.kr/products/36237,5976.0
...,...,...,...,...,...,...
895,1318,Jordan 10 Retro I'm Back,310805-104,23,https://kream.co.kr/products/14374,5.0
896,2225,Jordan 1 Mid White Chicago,554724-116,23,https://kream.co.kr/products/24581,2.0
897,1054,Jordan 3 Retro Infrared 23,136064-123,23,https://kream.co.kr/products/4032,NaN
898,1056,Jordan 4 Retro Green Glow,308497-033,23,https://kream.co.kr/products/3504,1.0
899,1330,Jordan XXXII MJ Day,AA1253-001,23,https://kream.co.kr/products/11733,2.0

In [ ]:
#qwer2.to_csv("trade_all_info.csv", index=False)